.App {
  background-color: #f3eddd;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.Profile {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #1a3742;
  font-size: calc(10px + 2vmin);
  color: white;
}
.profile-img {
  width: 75%;
  border-radius: 50px;
}

.Info {
  flex: 4;
  display: flex;
  flex-direction: column;

  margin-left: 10px;
}
.Subject {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
}